.dogDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
   
}

.dog-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    background-color: #fff; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

.dog-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 25px;
}

.dog-info {
    text-align: left;
    font-size: 18px;
    line-height: 1.6; 
}

.dog-info h1 {
    font-weight: 600; 
    font-size: 30px;  
    margin-bottom: 20px;
}

.dog-info p {
    margin-bottom: 12px;
}
  




  

